# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gradle
build
gradle
src/test
将删除 src/main/java/
将删除 src/main/resources/
将删除 src/test/
